.btn{
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  &:hover{
    cursor: pointer;
  }
  &-back{
    background-color: transparent;
    color: $coolGrey;
  }
  &-next{
    width: 97px;
    height: 40px;
    margin-left: auto;
    background-color: $marineBlue;
    color: $white;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

