.btn{
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  &:hover{
    cursor: pointer;
  }
  &-back{
    background-color: transparent;
    color: $coolGrey;
    &:hover{
      color: $marineBlue;
    }
  }
  &-next{
    width: 97px;
    height: 40px;
    margin-left: auto;
    background-color: $marineBlue;
    color: $white;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background-color: $lightNavy;
    }
    &:active{
      background-color: $marineBlue;
    }
  }
  &-confirm{
    @extend .btn-next;
    &:hover{
      background-color: $lightPurple;
    }
  }
  &-plan-change{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $coolGrey;
    &:hover{
      cursor: pointer;
      color: $purplishBlue;
      border-bottom: 1px solid $purplishBlue;
    }
  }
}

