.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .3rem;
  label{
    font-size: 1.2rem;
    font-weight: 500;
    color: $marineBlue;
  }
  input{
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-radius: .4rem;
    border: $borderColour 1px solid;
  }
}