.input-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  @include respond(lap) {
    gap: 0.8rem;
  }
  label {
    font-size: 1.2rem;
    font-weight: 500;
    color: $marineBlue;
  }
  input {
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
    &:focus {
      border: 1px solid $purplishBlue;
      outline: none;
    }
  }
}

.input-error-label {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  font-weight: 700;
  color: $StrawberryRed;
  @include respond(mob){
    font-size: 1.4rem;
  }
}

.input-error-inactive {
  border: $borderColour 1px solid;
}

.input-error-active {
  border: $StrawberryRed 1px solid;
}

// REMOVE HISTORY INPUT STYLING
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

// REMOVE ARROW FROM TYPE="NUMBER" INPUTS

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
