
// COLOURS
$marineBlue: #022959;
$purplishBlue: #483EFF;
$pastelBlue: #ABBCFF;
$lightBlue: #BEE2FD;
$StrawberryRed: #EE374A;
$pink: #F9818E;
$magnoliaBG: #EFF5FF;
$borderColour: #D6D9E6;
$coolGrey: #9699AA;
$lightGrey: #D6D9E6;
$AlabasterVeryLightGrey:#F8F9FF;
$white: #ffffff;

// FONT FIZE
$bodyText: 1.6rem;