
// COLOURS
$marineBlue: #022959;
$lightNavy: #164A8A;
$purplishBlue: #483EFF;
$lightPurple: #928CFF;
$pastelBlue: #ABBCFF;
$lightBlue: #BEE2FD;
$StrawberryRed: #EE374A;
$pink: #F9818E;
$magnoliaBG: #EFF5FF;
$borderColour: #D6D9E6;
$coolGrey: #9699AA;
$lightGrey: #D6D9E6;
$AlabasterVeryLightGrey:#F8F9FF;
$white: #ffffff;

// FONT FIZE
$bodyText: 1.6rem;
$labelHeaderText: 1.2rem;
$stepLabelText: 1.4rem;
$totalPriceLabel: 2rem;
$thankYouTitle: 2.4rem;
$thankYouTitleLap: 3.2rem;