.btn-container-mob {
  grid-column: 1/-1;
  grid-row: 12/13;
  //
  padding: 1.6rem;
  margin: 2rem 0 0 0;
  background-color: white;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include respond(mdTab) {
      max-width: 485px;
      margin: 0 auto;
    }
  }
  //
  @include respond(mob) {
    padding: 1.6rem 6rem;
  }
  @include respond(tab) {
    padding: 1.6rem 10rem;
  }
  @include respond(lap) {
    display: none;
  }
}
