.main-content{
  grid-column: 2/12;
  grid-row: 2/4;
  z-index: 10;
  padding: 3.2rem 2.4rem;
  background-color: $white;
  border-radius: 1rem;
  @include respond (mdTab) {
    max-width: 485px;
    margin: 0 auto;
  }
}

