body{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400; // 500 & 700 available also
  font-size: $bodyText;
}

.main-header{
  font-weight: 700;
  font-size: 2.4rem;
  color: $marineBlue;
}

.para-text{
  font-size: $bodyText;
  color: $coolGrey;
  line-height: 2.5rem;
}

.label-header{
  font-size: $labelHeaderText;
  font-weight: 400;
  color: $pastelBlue;
}

.step-label{
  font-size: $stepLabelText;
  color: $white;
  letter-spacing: 1px;
  font-weight: 700;
}

.plan-label-header{
  font-size: $bodyText;
  color: $marineBlue;
  font-weight: 500;
}

.plan-label-price{
  font-size: $stepLabelText;
  line-height: 2rem;
  color: $coolGrey;
  font-weight: 400;
}

.plan-switch-label{
  font-size: $stepLabelText;
  color: $coolGrey;
  font-weight: 500;
  &--active{
    color: $marineBlue;
  }
}

.step-label-offer{
  font-size: $labelHeaderText;
  line-height: 2rem;
  color: $marineBlue;
}

.add-ons-label{
  font-size: $stepLabelText;
  color: $marineBlue;
  font-weight: 500;
  pointer-events: none;
  @include respond (lap) {
    font-size: $bodyText
  }
}

.final-plan-price-label{
  font-size: $stepLabelText;
  color: $marineBlue;
  font-weight: 700;
  line-height: 2rem;
  @include respond (lap) {
    font-size: $bodyText
  }
}
.final-addons-price-label{
  @extend .final-plan-price-label;
  font-weight: 400;
}

.add-ons-desc{
  font-size: $labelHeaderText;
  font-weight: 400;
  line-height: 20px;
  color: $coolGrey;
}

.add-ons-price{
  @extend .add-ons-desc;
  color: $purplishBlue;
  text-align: right;
}

.total-price-label{
  font-size: $totalPriceLabel;
  font-weight: 700;
  line-height: 2rem;
  color: $purplishBlue;
}

.change-btn-label{
  font-size: $stepLabelText;
  line-height: 1.5rem;
  color: $coolGrey;
  font-weight: 400;
}

.thank-you-title{
  font-size: $thankYouTitle;
  font-weight: 700;
  color: $marineBlue;
  @include respond (lap) {
    font-size: $thankYouTitleLap;
  }
}